.App {
  text-align: center;
  /* position: relative; */
}

.main{
  /* margin: 0.5rem; */
  height: 100vh;
  width: 100vw;
  /* background-image: url('./img/back.jpg'); */
  background-repeat: no-repeat;
  background-size:cover;
  /* background-color: red; */
}

.Box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.can{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.btn{
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: rgba(245, 158, 11);
  opacity: 0.9;
  border-radius: 1rem;
  margin-top:8.5rem;
  margin-left: 13.5rem;
  outline: none;
}

.btnnext{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
