.App {
  text-align: center;
}

.main{
  border: 10px black;
  /* margin: 0.5rem; */
  height: 390px;
  width: 700px;
  background-image: url('./img/back.jpg');
  background-repeat: no-repeat;
  background-size:cover
}

.Box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.can{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;

}

.lower-canvas{
  border-radius: 0.5rem;
  border: 3px solid;
}
